:root{
    --colour: linear-gradient(to bottom right,  rgba(65, 140, 117, 0.712), rgba(13, 30, 79, 0.7));
}

.working{
    height: 100vh;
    border-radius: 2rem;
    background-image: var(--colour);
    margin: 40px;
    font-family: 'Cardo', serif;
}
.working:hover{
margin: 30px;
transition: 0.3s ease;
}

.working-heading{
    justify-content: left;
    padding-top: 70px;
    padding-left: 100px;
    font-family: 'Cardo', serif;
    font-size: 3rem;
    font-weight: bold;
}
/* .columns-steps{
    margin-top: 150px;
} */
p{
    font-family: 'Cardo' , serif;
}
.step-1{
    font-size: 1.5rem;
font-family: 'Cardo', serif;
margin-top: 200px;
}
.step-2{
    font-size: 1.5rem;
font-family: 'Cardo', serif;
margin-top: 150px;
}
.step-3{
    font-size: 1.5rem;
font-family: 'Cardo', serif;
margin-top: 100px;
}
.steps-content-1{
font-size: 1.2rem;
font-family: 'Cardo', serif;
margin-top: 20px;

}
.steps-content-2{
    font-size: 1.2rem;
    font-family: 'Cardo', serif;
    margin-top: 20px;
}
.steps-content-3{
    font-size: 1.2rem;
    font-family: 'Cardo', serif;
    margin-top: 20px;
}
.ima{
    height: 30px;
    width: 30px;
}