@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cardo&family=Rubik+Moonrocks&family=Shadows+Into+Light&family=Square+Peg&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    /* --bg-color: linear-gradient( #fdfcfb , #e2d1c3); */
    --bg-color:linear-gradient(#e39393e0 ,#e0ee66);
    
}
.page-title{
    height: 100vh;
    margin-left: 40px;
    /* margin-top: 10px; */
    margin-right: 40px;
    /* border-radius: 2rem; */
    /* background-image: url('/public/images/background.jpg'); */
    background-image: var(--bg-color);
    /* background-color:rgba(20,44,105,0) ; */
}
.page-title:hover{
    margin: 30px;
    transition:  0.3s ease;
    box-shadow: 10px 10px linear-gradient( rgba(135, 119, 119, 0.882)  , rgba(242, 200, 102, 0.882));
}
.benefits-heading{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 50px;
    font-size: 2.5rem;
    font-family: 'Cardo', serif;;
}

.features{
    font-size: 1.3rem;
    font-family: 'Cardo', serif;
   justify-content: center;
   align-items: center;
   text-align: left;
   display: flex;
   height: 100vh;
   padding-left: 90px;
}
.features ul li{
    list-style-type: disc;
}
.contents{
    display: flex;
    align-items: center;
    margin-top: -75px;
    }
.contents .left-column{
    width: 50%;
}

.contents .right-column{
    width: 50%;
}
.contents .right-column p{
    font-family: 'Cardo', serif;
    font-size: 1.2rem;
margin-left: 2px;
text-align: left;
}
.details-info ul li{
text-align: left;
}